.bartender {
  position: relative;
  margin: auto;
  width: 80vw;
  min-width: 1200px;
  max-width: 1600px;
  display: grid;
  grid-template-rows: 100px max-content max-content;
  grid-row-gap: 25px;
  min-height: 100vh;
}
.bartender * {position: relative}

.bartender-toolbar {
  width: 100%;
  height: 100%;
  margin-top: 12.5px;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 20% 20% 10% 30% 10%;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  box-sizing: border-box;
}

.bartender-toolbar-toggle-p2-container * {
  font-size: 20px !important;
}

.bartender-barcode-display {
  width: 100%;
  height: 100vh;
  background: indianred;
}

.shop-floor-process-sheet {
  height: 100vh;
  width: 100%;
  background-color: skyblue;
}

.custom-checkbox-root .MuiSvgIcon-root{
  width: 30px;
  height: 30px;
}