@import './variables';

.desktop-job-book-container {
  display: grid;
  grid-template-columns: max-content auto;
}

.desktop-job-book-expanded {
  position: relative;
  width: 15vw;
  min-width: 320px;
  max-width: 420px;
  height: 98%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 20% 10%;
}

.desktop-job-book-container * {
  width: 100%;
}

.desktop-job-book-range-container {
  position: relative;
  display: grid;
  grid-template-columns: max-content calc(40%);
  justify-content: space-between;
  align-content: center;
  font-family: Lato, Roboto, sans-serif;
  width: 94%;
  left: 3%;
}

.desktop-job-book-total-showing {
  font-size: 24px;
  font-weight: 900;
}

.job-book-input-search-range {
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  outline: 1px solid black;
  appearance: none;
  background: none !important;
}

.desktop-job-book-total-showing {
  display: grid;
  color: $black75;
  place-items: center;
}

.desktop-job-book-deep-search-container {
  // background: red;
  position: relative;
  display: grid;
  place-items: center;
  // width: 90%;
  // left: 2.5%;
  display: grid;
  grid-template-columns: 70% 20%;
  justify-content: space-around;
}

.desktop-job-book-job-number-container, .desktop-job-book-model-number-container, .desktop-job-book-serial-number-container, .desktop-job-book-voltage-and-lead-container, .desktop-job-book-notes-container {
  position: relative;
  width: 90%;
  left: 2.5%;
  display: grid;
  place-items: center;
}

.desktop-job-book-voltage-and-lead-container {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 42% 42%;
}

.desktop-job-book-information-entry-container {
  position: relative;
  color: rgba(0, 0, 0, 0.35);
  font-size: 18px;
  // background: red;
  left: 3%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
  align-items: center;
}

.desktop-job-book-interactions-container {
  position: relative;
  display: grid;
  width: 95%;
  left: 2.5%;
  grid-template-columns: 42% 42%;
  place-items: center;
  justify-content: space-between;
}

.desktop-job-book-interactions-container *{
  padding: 12px 0 12px 0 !important;
}

.job-book-table {
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.job-book-table-headers {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10% 18% 18% 9% 10% 8% 10% 10% 5%;
  height: 80px;
  align-items: center;
  background-color: rgba(0, 48, 66, 0.25);

}

.job-book-table-headers *{
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  position: relative;
  padding-left: 5%;
  font-size: 18px;
  font-weight: 600;
  font-family: lato, sans-serif;
}

.job-book-table-job-item {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10% 18% 18% 9% 10% 8% 10% 10% 5%;
  height: 75px;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.job-book-table-job-item:hover {
  cursor: pointer;
}

.job-book-table-job-item *{
  position: relative;
  left: 5%;
}

.job-book-table-job-item-v1 {
  background: rgba(0, 0, 0, 0.05);
}

.job-book-table-job-items {
  overflow: scroll !important;
  height: calc(100vh - 180px);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.job-book-table-job-items::-webkit-scrollbar {
  display: none;
}
.job-book-table-job-items * {
  font-size: 18px !important;
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.55);
}

.expanded-job-cc-heaters-text {
  color: limegreen;
}
.expanded-job-cc-heaters-text-no {
  color: indianred;
}

// ADD JOB

.job-book-add-job-screen-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5025);
}

.job-book-add-new-job-container {
  position: fixed;
  width: 700px;
  height: 200px;
  background: rgba(255, 255, 255, 0.75);
  top: calc(50vh - 100px);
  left: calc(50vw - 350px);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-template-rows: max-content max-content auto;
  align-content: space-between;
}

.job-book-add-new-job-text {
  font-weight: 600;
  font-size: 24px;
  font-family: 'lato', sans-serif;  
  color: rgba(0, 0, 0, 0.65);
}

.job-book-append-job-interactions-container {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.inner-job-book-interactions-container {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 15px;
}

.add-job-input-field {
  text-transform: uppercase !important;
}

.job-book-scrapped-column {
  color: indianred;
}

.job-book-review-add-job-container {
  position: fixed;
  width: 700px;
  height: 500px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(2px);
  top: calc(50vh - 250px);
  left: calc(50vw - 350px);
  display: grid;
  grid-template-rows: 15% 15% 15% 40% 10%;
  align-content: space-around;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
}

.job-book-review-add-job-text {
 font-size: 32px;
 font-weight: 900;
  display: grid;
  place-items: center;
  color: rgba(0, 0, 0, 0.65);
  font-family: lato, sans-serif;
}

.job-book-review-model-x-serial-container {
  position: relative;
  display: grid;
  grid-template-columns: calc(50% - 30px) calc(50% - 30px);
  grid-column-gap: 30px;
  align-content: center;
}

.job-book-review-meta-information {
  position: relative;
  display: grid;
  grid-template-columns: calc(25% - 30px) calc(25% - 30px) calc(25% - 30px) calc(25% - 30px);
  grid-column-gap: 30px;
  align-content: center;
}
 
.job-book-review-additional-data {
  position: relative;
  display: grid;
  grid-template-columns: calc(50% - 30px) calc(50% - 30px);
  grid-column-gap: 30px;
}

.job-book-review-identification-numbers-x-scrap-status {
  position: relative;
  display: grid;
  grid-template-rows: 32% 32% 32%;
  align-content: space-between;
}

.job-book-review-buttons {
  display: grid;
  grid-template-columns: 200px 100px;
  justify-content: space-between;
  margin-right: 10px; 
}

.job-book-review-cancel-x-go-back-button-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-column-gap: 2%;
}

.job-book-review-not-scrap-text {
  color: rgba(0, 0, 0, 0.35);
}

.job-book-review-scrap-text {
  color: red;
}

.job-table-stator-status-text-green {
  color: limegreen;
}

.job-table-stator-status-text-red {
  color: indianred;
}

.admin-deleted-log-item {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
  grid-row-gap: 15px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.admin-deleted-jobs-grouped-smalltext {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 1%;
}

.admin-deleted-log {
  display: grid;
  grid-row-gap: 15px;
}

.desktop-admin-subtree{
  overflow: scroll !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.desktop-admin-subtree::-webkit-scrollbar {
  display: none;
}

.desktop-admin-account-container, .desktop-admin-account-backup-container {
  position: relative;
  display: grid;
  margin-top: 15px;
  grid-row-gap: 15px;
  // background: red; 
}

.delete-job-modal-overlay {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100vw;
  background: rgba(0, 0, 0, 0.25);
  z-index: 42399;
}

.delete-job-modal {
  position: fixed;
  width: 700px;
  height: 200px;
  background: rgba(255, 255, 255, 0.75);
  top: calc(50vh - 100px);
  left: calc(50vw - 350px);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-template-rows: max-content max-content auto;
  align-content: space-between;
}

.delete-job-modal-text {
  font-family: lato, sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.55);
}

.delete-job-modal-input-container {
  display: grid;
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  grid-column-gap: 40px;
}

.delete-job-modal-button-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 15px;
  justify-content: right;
}

.job-book-review-warranty-and-scrap-text {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.job-book-review-warranty-text {
  color: goldenrod;
  font-family: lato, sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.goldenrod-text {
  color: goldenrod;
} 