.desktop-nav {
  height: 100px;
  background-color: rgba(0,0,0,0.85);
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  width: 100vw;
};

.desktop-nav-logo-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100px max-content;
}

.desktop-logo {
  position: relative;
  background: url('../../img/nce_logo.png');
  background-size: cover;
  width: 75px;
  height: 75px;
  top: calc(25px/2);
  left: calc(25px/2);
}

.desktop-company-name-container * {
  color: white;
  font-family: roboto, sans-serif;
}

.desktop-company-name-container {
  position: relative;
  height: 75px;
  top: 25px;
}

.desktop-company-name {
  font-weight: 900;
  font-size: 22px;
}

#desktop-nav-search {
  color: white;
  height: 40px;
  border-radius: 8px;
  outline: none;
  background: rgba(255,255,255,0.15);
  border: none;
  text-align: center;
  font-size: 18px;
}

.desktop-search-container {
  display: grid;
  align-items: center;
  max-width: 500px;
  width: 40vw;
  margin-right: 1vw;
}

.nav-search-bar {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 20px;
}

.nav-page-selector {
  position: relative;
  width: 150px;
  text-align: center;
  height: 50px;
  top: 25px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 20px;
}
.nav-page-selector:active {
  outline: none;
}
.nav-page-selector:focus {
  outline: none;
}

option {
  background-color: rgba(0,0,0,0.85);
  box-sizing: border-box;
  padding: 5px;
}