// procedure-to-qualifying-stator-irons-for-rewinding

.procedure-to-qualifying-stator-irons-for-rewinding {
  z-index: 1;
  transition: all 500ms;
}

.procedure-to-qualifying-stator-irons-for-rewinding input {
  text-transform: uppercase !important;
}

.procedure-to-qualifying-stator-irons-for-rewinding-text {
  position: absolute;
  font-size: 32px;
  font-weight: 900;
  text-decoration: underline;
  width: 100vw;
  min-width: 1000px;
  text-align: center;
  top: 215px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-sheet {
  position: relative;
  top: 125px;
  width: 60vw;
  min-width: 1000px;
  height: 100vh; 
  margin: auto;
}

.procedure-to-qualifying-stator-irons-for-rewinding-model-x-job {
  display: grid;
  grid-template-columns: 500px 400px;
  justify-content: space-between;
}

.procedure-to-qualifying-stator-irons-for-rewinding-volt-meta {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  justify-content: space-between;
  margin-top: 15px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-pass-or-fail {
  display: grid;
  grid-template-columns: 500px max-content;
  grid-column-gap: 10px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-pass-or-fail-text, .procedure-to-qualifying-stator-irons-for-rewinding-pass-or-fail-checkbox {
  font-size: 22px;
  margin-top: 25px;
  height: 75px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 15px;
  align-items: center;
}

.procedure-to-qualifying-stator-irons-for-rewinding-rotor-info {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-between;  
  align-content: center;
  margin-top: 20px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-rotor-question {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 500px 100px 400px;
  height: 50px;
  grid-column-gap: 15px;
  align-items: center;
}
.procedure-to-qualifying-stator-irons-for-rewinding-rotor-question-1 *, .procedure-to-qualifying-stator-irons-for-rewinding-rotor-question-2 * {
  font-size: 22px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-section-2-text {
  position: relative;
  font-size: 22px;
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
  margin-top: 50px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-section-2-instructions-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 20px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-section-2-instructions-container * {
  font-size: 20px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-section-2-instruction-text-2 {
  font-weight: 900;
  text-align: center;
} 

.procedure-to-qualifying-stator-irons-for-rewinding-lead-testing {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 15px;
  margin-top: 25px;
}
 
.procedure-to-qualifying-stator-irons-for-rewinding-lead-test {
  display: grid;
  grid-template-rows: 20px 20px 20px 20px;
  grid-row-gap: 15px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-lead-number-field-text {
  margin-top: 17px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-lead-number-field {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-lead-test-text {
  font-size: 22px;
  font-weight: 900;
  text-decoration: underline;
}

.procedure-to-qualifying-stator-irons-for-rewinding-meg-ohm-leads {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  justify-content: space-between;
}

.procedure-to-qualifying-stator-irons-for-rewinding-act-49, .procedure-to-qualifying-stator-irons-for-rewinding-act-44, .procedure-to-qualifying-stator-irons-for-rewinding-act-14 {
  font-size: 20px;
  margin-top: 10px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-act-49 {
  margin-top: 40px;
}

.procedure-to-qualifying-stator-irons-for-rewinding-act-44, .procedure-to-qualifying-stator-irons-for-rewinding-act-14 {
  display: grid;
  height: 35px;
  grid-template-columns: 350px 100px max-content;
  grid-column-gap: 20px;
  align-items: center;
}

.procedure-to-qualifying-stator-irons-for-rewinding-motor-protector-text {
  font-size: 22px;
  font-weight: 900;
  text-decoration: underline;
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.procedure-to-qualifying-stator-irons-for-rewinding-motor-protector-ending-questions {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 75px;
}

.yes-no-selector {
  position: relative;
  width: 100px;
  height: 50px;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px;
  justify-content: center;
}

.yes-selector, .no-selector {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  font-weight: 400;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

.yes-selector:hover, .no-selector:hover {
  cursor: pointer;
}

.failed-text, .do-not-rewind-text {
  font-size: 20px;
  font-weight: 900;
  color: red;
}

.p1-overlay {
  position: absolute;
  width: 100%;
  height: calc(200vh - 5P00px);
  backdrop-filter: blur(3px);
  z-index: 1000;
  background-color: rgba(255,255,255,0.5);
  transition: all 300ms;
}

.p1-overlay-message {
  width: 500px;
  margin: auto;
  position: relative;
  top: 100px;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 25px;
  justify-content: center;
}

.p1-overlay-message-text {
  font-weight: 900;
  color: indianred;
  font-size: 32px;
  font-family: Lato, sans-serif;
}

.p1-overlay-create-new-button {
  width: max-content;
  margin: auto;
}