.rfid-sync {
  width: 300px;
  height: 500px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 45px 45px 345px 45px;
  grid-row-gap: 5px;
  padding: 25px;
  position: relative;
  top: calc(50vh - 250px - 75px);
  left: 100px;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
}

.rfrid-sync-last-updated {
  color: indianred;
}

.rfid-sync-header {
  font-size: 20px;
  font-weight: 900;
  border-bottom: 2px solid black;
  display: grid;
  align-items: center;
}

.rfid-sync-reader-list {
  display: grid;
  grid-template-columns: 150px 150px;
}

.rfid-query-container {
  position: relative;
  min-width: 1000px;
  width: 80vw;
  height: 125px;
  background-color: rgba(0,0,0,0.085);
  top: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 45% 45%;
  justify-content: space-between;
  grid-row-gap: 10%;
  box-sizing: border-box;
  padding: 10px;
}
.rfid-query-container:nth-child(n) {
  display: grid;
  align-items: center;
}