.rfid-sync {
  width: 300px;
  height: 500px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 45px 45px 345px 45px;
  grid-row-gap: 5px;
  padding: 25px;
  position: relative;
  top: calc(50vh - 250px - 75px);
  left: 100px;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
}

.rfrid-sync-last-updated {
  color: indianred;
}

.rfid-sync-header {
  font-size: 20px;
  font-weight: 900;
  border-bottom: 2px solid black;
  display: grid;
  align-items: center;
}

.rfid-sync-reader-list {
  display: grid;
  grid-template-columns: 150px 150px;
}

.rfid-query-container {
  position: relative;
  min-width: 1000px;
  width: 80vw;
  height: 125px;
  background: whitesmoke;
  top: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 45% 45%;
  justify-content: space-between;
  grid-row-gap: 10%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.rfid-query-container:nth-child(n) {
  display: grid;
  align-items: center;
}

.rfid-tags-container {
  position: relative;
  min-width: 1000px;
  width: 80vw;
  height: max-content;
  margin: auto;
  min-height: 20vh;
  margin-top: 25px;
  font-family: Roboto, sans-serif;
}

.rfid-log {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 75px;
}

.rfid-data-container {
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  height: 125px;
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(0,0,0,0.085);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rfid-data-rfid-number {
  font-weight: 500;
  font-size: 3.5em;
  display: grid;
  place-items: center;
  color: rgba(0,0,0,0.5);
}

.rfid-data-location {
  position: absolute;
  width: 15%;
  right: 2.5%;
  display: grid;
  place-items: center;
  font-weight: 500;
  font-size: 1.5em;
  backdrop-filter: blur(5px);
  top: -0.58em;
  color: rgba(0,0,0,0.65);
}

.rfid-data-meta-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-content: space-between;
}

.rfid-data-subzone-type {
  height: 38px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  color: rgba(0,0,0,0.65);
  border: 1px solid rgba(0,0,0,0.25);
}