@import url("https://fonts.googleapis.com/css2?family=Lato&family=VT323&display=swap");
.desktop-login-form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100%;
  max-width: 500px;
  max-height: 300px;
  width: 50vh;
  height: 38%;
  margin-top: 40%;
}

.desktop-login-button-container {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
}

.desktop-login-page-container {
  position: relative;
  height: calc(100vh - 100px);
  width: 100%;
  display: grid;
  justify-content: center;
}

.desktop-login-text {
  color: rgba(0, 0, 0, 0.75);
  font-family: roboto, sans-serif;
  display: grid;
  place-self: center;
}

.desktop-nav {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.85);
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.desktop-nav-logo-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100px -webkit-max-content;
  grid-template-columns: 100px max-content;
}

.desktop-logo {
  position: relative;
  background: url("../../img/nce_logo.png");
  background-size: cover;
  width: 75px;
  height: 75px;
  top: 12.5px;
  left: 12.5px;
}

.desktop-company-name-container * {
  color: white;
  font-family: roboto, sans-serif;
}

.desktop-company-name-container {
  position: relative;
  height: 75px;
  top: 25px;
}

.desktop-company-name {
  font-weight: 900;
  font-size: 22px;
}

#desktop-nav-search {
  color: white;
  height: 40px;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  text-align: center;
  font-size: 18px;
}

.desktop-search-container {
  display: grid;
  align-items: center;
  max-width: 500px;
  width: 40vw;
  margin-right: 1vw;
}

.desktop-admin-container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.desktop-admin-subtree {
  position: relative;
  height: calc(98vh - 100px);
  top: 1.25%;
  overflow-y: scroll;
  min-width: 325px;
}

.desktop-admin-users {
  box-sizing: border-box;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.desktop-admin-section-title-container {
  min-width: 325px;
  position: relative;
  display: grid;
  place-items: center;
  width: 96%;
  left: 2%;
  max-height: 75px;
  height: 75px;
  font-weight: 900;
  font-size: 25px;
  font-family: Lato, roboto, sans-serif;
  background-color: rgba(0, 0, 0, 0.045);
  color: rgba(0, 0, 0, 0.75);
}

.desktop-admin-section-body-container {
  position: relative;
  width: 96%;
  left: 2%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 10px;
}

.section-component {
  display: grid;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  grid-column-gap: 5%;
  width: 100%;
  align-items: center;
}

.section-component-line {
  width: 100%;
  height: 1px;
  background: black;
}

.section-component-text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
  padding: 0 2% 0 2%;
  font-family: lato, roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=desktop.css.map */