@import url("https://fonts.googleapis.com/css2?family=Lato&family=VT323&display=swap");
.desktop-login-form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100%;
  max-width: 500px;
  max-height: 300px;
  width: 95vw;
  height: 40vh;
}

.desktop-login-button-container {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
}

.desktop-login-page-container {
  position: relative;
  height: calc(100vh - 100px);
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.desktop-login-text {
  color: rgba(0, 0, 0, 0.75);
  font-family: roboto, sans-serif;
  display: grid;
  place-self: center;
}

.desktop-nav {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.85);
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  width: 100vw;
}

.desktop-nav-logo-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100px -webkit-max-content;
  grid-template-columns: 100px max-content;
}

.desktop-logo {
  position: relative;
  background: url("../../img/nce_logo.png");
  background-size: cover;
  width: 75px;
  height: 75px;
  top: 12.5px;
  left: 12.5px;
}

.desktop-company-name-container * {
  color: white;
  font-family: roboto, sans-serif;
}

.desktop-company-name-container {
  position: relative;
  height: 75px;
  top: 25px;
}

.desktop-company-name {
  font-weight: 900;
  font-size: 22px;
}

#desktop-nav-search {
  color: white;
  height: 40px;
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  text-align: center;
  font-size: 18px;
}

.desktop-search-container {
  display: grid;
  align-items: center;
  max-width: 500px;
  width: 40vw;
  margin-right: 1vw;
}

.desktop-admin-container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.desktop-admin-subtree {
  position: relative;
  height: calc(98vh - 100px);
  top: 1.25%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-width: 325px;
  max-width: 100%;
}

.desktop-admin-subtree::-webkit-scrollbar {
  display: none;
}

.desktop-admin-users {
  box-sizing: border-box;
  border-left: 2px solid black;
  border-right: 2px solid black;
  overflow: scroll;
}

.desktop-admin-section-title-container {
  min-width: 325px;
  position: relative;
  display: grid;
  place-items: center;
  width: 96%;
  left: 2%;
  max-height: 75px;
  height: 75px;
  font-weight: 900;
  font-size: 25px;
  font-family: Lato, roboto, sans-serif;
  background-color: rgba(0, 0, 0, 0.045);
  color: rgba(0, 0, 0, 0.75);
}

.desktop-admin-section-body-container {
  position: relative;
  width: 96%;
  left: 2%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 10px !important;
}

.render-users {
  display: grid;
  grid-row-gap: 10px !important;
}

.section-component {
  display: grid;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  grid-column-gap: 5%;
  width: 100%;
  align-items: center;
}

.section-component-line {
  width: 100%;
  height: 1px;
  background: black;
}

.section-component-text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
  padding: 0 2% 0 2%;
  font-family: lato, roboto, sans-serif;
}

.pending-user-container {
  height: 140px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 75% 25%;
  padding: 5px;
}

.pending-user-top-container {
  display: grid;
  grid-template-columns: 75% 21%;
  grid-column-gap: 2%;
}

.pending-user-top-left-container {
  position: relative;
  display: grid;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  grid-row-gap: 10px;
  align-content: center;
}

.pending-user-top-right-container {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  justify-content: space-around;
  place-items: center;
}

.pending-user-top-right-container * {
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px !important;
  font-family: "Times New Roman", Times, serif !important;
}

.pending-user-top-right-container *:hover {
  border-radius: 0 !important;
}

.mui-check-icon:hover {
  background-color: rgba(0, 255, 0, 0.045) !important;
}

.mui-close-icon:hover {
  background-color: rgba(255, 0, 0, 0.045) !important;
}

.pending-user-visibility-lists {
  background-color: rgba(188, 143, 143, 0.085);
  border-radius: 5px;
  height: 100%;
  position: relative;
  display: grid !important;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
  grid-column-gap: 10px;
  align-items: center;
}

.pending-user-add-visibility {
  width: 30px;
  height: 30px !important;
  border-radius: 100%;
  display: grid;
  place-items: center;
  position: relative;
  left: 2px;
}

.pending-user-add-visibility:hover {
  background: rgba(0, 0, 0, 0.045);
  cursor: pointer;
}

.add-new-visibility {
  height: 70%;
  width: 0px;
  border-radius: 15px;
  border: none;
  background: rgba(0, 0, 0, 0.045);
  text-align: center;
  -webkit-animation: 350ms ease-out growInput forwards;
          animation: 350ms ease-out growInput forwards;
}

.add-new-visibility:focus {
  outline: none;
}

@-webkit-keyframes growInput {
  100% {
    width: 100px;
  }
}

@keyframes growInput {
  100% {
    width: 100px;
  }
}
.desktop-job-book-container {
  display: grid;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
}

.desktop-job-book-expanded {
  position: relative;
  width: 35vw;
  min-width: 450px;
  max-width: 600px;
  height: 98%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 20% 10%;
}

.desktop-job-book-container * {
  width: 100%;
}

.desktop-job-book-range-container {
  position: relative;
  display: grid;
  grid-template-columns: -webkit-max-content 40%;
  grid-template-columns: max-content 40%;
  justify-content: space-between;
  align-content: center;
  font-family: Lato, Roboto, sans-serif;
  width: 94%;
  left: 3%;
}

.desktop-job-book-total-showing {
  font-size: 24px;
  font-weight: 900;
}

.job-book-input-search-range {
  width: 150px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  outline: 1px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none !important;
}

.desktop-job-book-total-showing {
  display: grid;
  color: rgba(0, 0, 0, 0.75);
  place-items: center;
}

.desktop-job-book-deep-search-container {
  position: relative;
  display: grid;
  place-items: center;
  display: grid;
  grid-template-columns: 70% 20%;
  justify-content: space-around;
}

.desktop-job-book-job-number-container, .desktop-job-book-model-number-container, .desktop-job-book-serial-number-container, .desktop-job-book-voltage-and-lead-container, .desktop-job-book-notes-container {
  position: relative;
  width: 90%;
  left: 2.5%;
  display: grid;
  place-items: center;
}

.desktop-job-book-voltage-and-lead-container {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 42% 42%;
}

.desktop-job-book-information-entry-container {
  position: relative;
  color: rgba(0, 0, 0, 0.35);
  font-size: 18px;
  left: 3%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
  align-items: center;
}

.desktop-job-book-interactions-container {
  position: relative;
  display: grid;
  width: 95%;
  left: 2.5%;
  grid-template-columns: 42% 42%;
  place-items: center;
  justify-content: space-between;
}

.desktop-job-book-interactions-container * {
  padding: 12px 0 12px 0 !important;
}

.job-book-table {
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.job-book-table-headers {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10% 18% 18% 9% 10% 8% 10% 10% 5%;
  height: 80px;
  align-items: center;
  background-color: rgba(0, 48, 66, 0.25);
}

.job-book-table-headers * {
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  position: relative;
  padding-left: 5%;
  font-size: 18px;
  font-weight: 600;
  font-family: lato, sans-serif;
}

.job-book-table-job-item {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10% 18% 18% 9% 10% 8% 10% 10% 5%;
  height: 75px;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.job-book-table-job-item:hover {
  cursor: pointer;
}

.job-book-table-job-item * {
  position: relative;
  left: 5%;
}

.job-book-table-job-item-v1 {
  background: rgba(0, 0, 0, 0.05);
}

.job-book-table-job-items {
  overflow: scroll !important;
  height: calc(100vh - 180px);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.job-book-table-job-items::-webkit-scrollbar {
  display: none;
}

.job-book-table-job-items * {
  font-size: 18px !important;
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.55);
}

.expanded-job-cc-heaters-text {
  color: limegreen;
}

.job-book-add-job-screen-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5025);
}

.job-book-add-new-job-container {
  position: fixed;
  width: 700px;
  height: 200px;
  background: rgba(255, 255, 255, 0.75);
  top: calc(50vh - 100px);
  left: calc(50vw - 350px);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-template-rows: -webkit-max-content -webkit-max-content auto;
  grid-template-rows: max-content max-content auto;
  align-content: space-between;
}

.job-book-add-new-job-text {
  font-weight: 600;
  font-size: 24px;
  font-family: "lato", sans-serif;
  color: rgba(0, 0, 0, 0.65);
}

.job-book-append-job-interactions-container {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.inner-job-book-interactions-container {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 15px;
}

.add-job-input-field {
  text-transform: uppercase !important;
}

input {
  text-transform: uppercase !important;
}

.job-book-scrapped-column {
  color: indianred;
}

.job-book-review-add-job-container {
  position: fixed;
  width: 700px;
  height: 500px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  top: calc(50vh - 250px);
  left: calc(50vw - 350px);
  display: grid;
  grid-template-rows: 15% 15% 15% 40% 10%;
  align-content: space-around;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
}

.job-book-review-add-job-text {
  font-size: 32px;
  font-weight: 900;
  display: grid;
  place-items: center;
  color: rgba(0, 0, 0, 0.65);
  font-family: lato, sans-serif;
}

.job-book-review-model-x-serial-container {
  position: relative;
  display: grid;
  grid-template-columns: calc(50% - 30px) calc(50% - 30px);
  grid-column-gap: 30px;
  align-content: center;
}

.job-book-review-meta-information {
  position: relative;
  display: grid;
  grid-template-columns: calc(25% - 30px) calc(25% - 30px) calc(25% - 30px) calc(25% - 30px);
  grid-column-gap: 30px;
  align-content: center;
}

.job-book-review-additional-data {
  position: relative;
  display: grid;
  grid-template-columns: calc(50% - 30px) calc(50% - 30px);
  grid-column-gap: 30px;
}

.job-book-review-identification-numbers-x-scrap-status {
  position: relative;
  display: grid;
  grid-template-rows: 32% 32% 32%;
  align-content: space-between;
}

.job-book-review-buttons {
  display: grid;
  grid-template-columns: 200px 100px;
  justify-content: space-between;
  margin-right: 10px;
}

.job-book-review-cancel-x-go-back-button-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-column-gap: 2%;
}

.job-book-review-not-scrap-text {
  color: rgba(0, 0, 0, 0.35);
}

.job-book-review-scrap-text {
  color: red;
}

.job-table-stator-status-text-green {
  color: limegreen;
}

.job-table-stator-status-text-red {
  color: indianred;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  overflow: hidden;
}/*# sourceMappingURL=desktop.css.map */