@import './login';
@import './nav';
@import './admin';
@import './jobBook';
@import '../mobile/job-book';
@import './paperworks';
@import './procedureToQualifyingStatorIronsForRewinding';

* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  overflow-x: hidden !important;
}